<script lang="ts">
  // Internal
  import { onMount } from 'svelte'
  // Vendor
  import { superForm } from 'sveltekit-superforms'
  import { zodClient } from 'sveltekit-superforms/adapters';
  // Project
  import { FormSchema } from './FormSchema.js'

  export let data
  export let form

  const superForms = superForm(data.form, {
    validators: zodClient(FormSchema)
  })

  const { form: formz, errors, constraints, message, submitting, enhance } = superForms

  $: failed = !!form?.error

  // Goodies
  let secret_api: HTMLInputElement

  onMount(()=> {
    setTimeout(()=> {
      secret_api.remove()
    } , 5000)
  })
</script>

<main>
  <form id="contact-form" method="POST" use:enhance>
    <h1 class="text-3xl font-sans font-light mb-2">Form Example</h1>

    <label>
      <input type="text" name="FullName" class="grow" placeholder="Name *"
        aria-invalid={$errors.FullName ? 'true' : undefined}
        bind:value={$formz.FullName}
        {...$constraints.FullName}
      />
    </label>
    <label>
      <input type="text" name="CompanyName" class="grow" placeholder="Business"
        aria-invalid={$errors.CompanyName ? 'true' : undefined}
        bind:value={$formz.CompanyName}
        {...$constraints.CompanyName}
      />
    </label>
    <label>
      <input type="tel" name="Phone" class="grow" placeholder="Phone *"
        aria-invalid={$errors.Phone ? 'true' : undefined}
        bind:value={$formz.Phone}
        {...$constraints.Phone}
      />
    </label>
    <label>
      <input type="email" name="Email" class="grow" placeholder="Email *"
        aria-invalid={$errors.Email ? 'true' : undefined}
        bind:value={$formz.Email}
        {...$constraints.Email}
      />
    </label>

    <textarea name="Message" placeholder="Questions, comments and / or suggestions. *" spellcheck="true" rows="7"
      aria-invalid={$errors.Message ? 'true' : undefined}
      bind:value={$formz.Message}
      {...$constraints.Message}
    ></textarea>

    <button disabled={$submitting ? true : null}>
      Submit
    </button>

    {#if $message || failed}
    <div role="alert" class="alert {failed ? "error" : "success"}">
      {failed ? `Failed to send: ${form.error}` : $message}
    </div>
    {/if}

  </form>
</main>

<style lang="postcss">
  main {
    max-width: 64ch;
    margin: 0 auto;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label, textarea {
    margin-bottom: .3rem;
  }
  input {
    width: 32ch;
  }
  input, textarea {
    padding: .5rem;
  }
  .alert {
    box-sizing: border-box;
    width: 100%;
    line-height: 1.25rem;
    padding: 1rem;
  }
  .alert.error {
    background-color: firebrick;
  }
  .alert.success {
    background-color: green;
  }
</style>